<h1 class="animated fadeIn fast">Sobre Viajes-Manuel</h1>
<hr />
<p class="animated fadeIn">
  Pequeña aplicación desarrollada para practicar Angular siguiendo algunos cursos. En esta aplicación 
  añadiré todos los países en los que he estado al menos una vez. Se muestran junto a sus banderas,
  también usaré un buscador y por último una pequeña pipe para corregir la url y poder mostrar un mapa 
  en cada país visitado, mostrando solo la capital del país en dicho mapa mediante Google Maps.
</p>
